
@media (min-width: 768px) {
    #map {
        height: 620px;
    }
}

@media (max-width: 768px) {
    #map {
        height: 320px;
    }
}

.mg-bt-10 {
    margin-bottom: 10px;
}

#addressAutoFillBtn {
    margin: 10px 0 10px 0 !important;
}

.search-input {
    vertical-align: middle !important;

    float: right;
    width: 33% !important;
    margin-top: -7px !important;
    margin-bottom: 10px !important;
}

.selected {
    background-color: #CDD7F7 !important;
}

.panel-title {
    display: inline-block;
}

div {
	cursor: default !important;
}

input[disabled], select[disabled] {
	cursor: default !important;
}
